{% extends "base.html" %}

{% block body_main %}

<div style="padding: 20px 20px 0px 20px;">
  <form style="display: flex; justify-content: space-between;" action="{% url 'links:list' %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-success" style="padding: 5px 20px;">Add</button>
    {% with link_list|first as first %}
    <input type="text" name="_tags_string" style="width: 25%; margin: 0px 20px;" placeholder="tags; separated; by ;"
      value="{{ first.tags_string }}">
    {% endwith %}
    <input type="url" name="location" style="width: 75%;" placeholder="http://example.com">
  </form>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Date added</th>
      <th>Title</th>
      <th>Domain</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    {% for link in link_list %}
    <tr>
      <td>{{ link.dt | slice:":19" }}</td>
      <td><a href="{{ link.location }}" target="_blank">{{ link.title }}</a></td>
      <td>{{ link.domain }}</td>
      <td>
        {% for tag in link.tags.all %}
        <span class="my-1 badge rounded-pill bg-primary">
          {{ tag.name }}<span style="font-size: 0;">;</span>
        </span>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}